export(art.input)
export(pm.input)
export(ttest)
export(reg.input)
export(reg.test)
export(OsteoSort)
export(bsModal)
export(toggleModal)
export(RJS)
export(detectCores)
export(gh_update)
export(start_time)
export(end_time)
export(write.tmp.data)
export(import.tmp.data)
export(delete.tmp.data)
export(write.tmp.data.pct)
export(import.tmp.data.pct)
export(delete.tmp.data.pct)
importFrom(grid,grobTree)
importFrom(dplyr,mutate)
